@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}
/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}
/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
/*
@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
 
body {
  -webkit-animation: fade-in 1s linear; 
  -moz-animation: fade-in 1s linear; 
  -o-animation: fade-in 1s linear; 
  animation: fade-in 1s linear; 
}
*/ 

body {
  background-color: rgb(255, 243, 249);
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: 'PT Serif', serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.main__container {
  flex-direction: column;
  display: flex;
  padding: 20px;
  max-width: 1200px;
  margin: 0px auto;
}
.rozd {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
    
}
.rozd p {
  color: #303030;
}
.zag {
  margin: 20px 0;
  text-align: center;
  font-size: calc(35px + 10 * ((100vw - 320px) / (1200 - 320)));
}
.zag p {
  color: #F18300;
}
.main_text {
  line-height: 20px;
  margin: 10px 0 30px 0;
  font-weight: normal;
  font-family: 'Monserrat', sans-serif;
  font-size: calc(15px + 3 * ((100vw - 320px) / (1200 - 320)));
}
a.vchbtn {
  background: #6aaad7;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.1s 0s ease-out;
  transition: all 0.1s 0s ease-out;
}
.no-touch a.vchbtn:hover {
  background: #3c85c1;
  -webkit-box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
          box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: all 0.25s 0s ease-out;
  transition: all 0.25s 0s ease-out;
}
.no-touch a.vchbtn:active,
a.vchbtn:active {
  background: #3680bc;
  -webkit-box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
          box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  -webkit-transform: translate3d(0, 1px, 0);
          transform: translate3d(0, 1px, 0);
  -webkit-transition: all 0.025s 0s ease-out;
  transition: all 0.025s 0s ease-out;
}
div.cards {
  margin: 1 0px auto;
  max-width: 1200px;
  text-align: center;
}
div.card {
  display: inline-block;
  margin: 25px 15px;
  max-width: 350px;
  -webkit-perspective: 1000;
          perspective: 1000;
  position: relative;
  text-align: left;
  -webkit-transition: all 0.3s 0s ease-in;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
}
div.card img {
  max-width: 350px;
}
div.card .card__image-holder {
  background-color: rgb(255, 243, 249);
  height: 0;
  padding-bottom: 48%;
}

div.card div.card__image-holder .card__image {
 max-width: 200px;
 padding-left: 30%;
}
div.card div.card-title {
  border-radius: 10px;
  background-color: rgb(255, 213, 234);
  padding: 6px 15px 10px;
  position: relative;
  z-index: 0;
}
div.card div.card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 30%;
  width: 32px;
}
div.card div.card-title a.toggle-info span {
  background: #ffffff;
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  -webkit-transition: all 0.15s 0s ease-out;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}
div.card div.card-title a.toggle-info span.left {
  right: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
div.card div.card-title a.toggle-info span.right {
  left: 14px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
div.card div.card-title div.card-title-h2 {
  max-width: 270px;
}
div.card div.card-title h2 {
  font-size: 21px;
  font-weight: 700;
  margin: 0 30px 0 0;
  padding: 0;
}
div.card div.card-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
}
div.card div.card-description {
  font-family: 'Monserrat', sans-serif;
  padding: 0 10px 10px;
  position: relative;
  font-size: 14px;
}
div.card div.card-flap {
  padding-top: 10px;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
div.card div.flap1 {
  -webkit-transition: all 0.3s 0.1s ease-out;
  transition: all 0.3s 0.1s ease-out;
  z-index: -1;
}
div.cards.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
}
.no-touch div.cards.showing div.card:hover {
  opacity: 0.94;
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}
div.card.show {
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}
div.card.show div.card-title a.toggle-info {
  background: #f27971 !important;
}
div.card.show div.card-title a.toggle-info span {
  top: 15px;
}
div.card.show div.card-title a.toggle-info span.left {
  right: 10px;
}
div.card.show div.card-title a.toggle-info span.right {
  left: 10px;
}
div.card.show div.card-flap {
  background: #ffffff;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
div.card.show div.flap1 {
  -webkit-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
}
@media (max-width: 420px) {
  div.card {
    max-width: 250px;
  }
  div.card img {
    max-width: 250px;
  }
  div.card div.card-title div.card-title-h2 {
    max-width: 150px;
  }
}

@media (min-width: 1200px) {
  .main_text {
    font-size: 16px;
  }
  .rozd {
    font-size: 16px;
  }
  .zag {
    font-size: 45px;
  }
}
